*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --dark-blue:hsl(209, 23%, 22%);
  --white: white;
  --black: black;
  --bg-color : hsl(207, 26%, 17%)
}

body {
  background-color: var(--bg-color)
}

a{
  text-decoration: none;
  color:inherit
}
p{
  color: var(--white);
}
h2{
  color: var(--white);
}
h3{
  color: var(--white);
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dark-blue);
  padding:20px 40px;
  color: var(--white);
  box-shadow: 0.10px 0.10px 3px var(--white);
}
.header div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  border-radius: 5px;
}
.countrybox{
  background-color: var(--bg-color);
}
.upperline{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
}
.forInput{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 20px;
  color: var(--white);
  background-color: var(--dark-blue);
  border-radius: 5px;
  box-shadow: 0.10px 0.10px 2px var(--white);
}
.input{
  width: 90%;
  border: none;
  outline: none;
  background-color: var(--dark-blue);
  color: var(--white);
}
::placeholder{
  color: var(--white);
}
.forSelect{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 20px;
  color: var(--white);
  background-color: var(--dark-blue);
  border-radius: 5px;
  box-shadow: 0.10px 0.10px 2px var(--white);
}
.forSelect select{
  width: 100%;
  color: var(--white);
  outline: none;
  border: none;
  background-color: var(--dark-blue);
}
.countries{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4rem;
  overflow-x: scroll;
  padding:0px 40px;
}

.countrylist{
  background-color: var(--dark-blue);
  box-sizing: border-box;
  box-shadow: 0.10px 0.10px 1px var(--white);
}
.flag-container{
  width: 100%;
  height:48%;
}
.countrylist img{
  width:100%;
  height:100%;
}
.countryInfo{
  padding:20px;
  text-align: left;
}
.countryInfo h3{
  padding:5px 0px;
  font-weight: bold;
}
.countryInfo p{
  padding: 2px 0px;
}
.countryDetails{
  padding: 50px;
}
.backarrow{
  display: flex;
  justify-content: space-around;
  width:7%;
  padding: 10px;
  box-shadow: border;
  background-color: var(--dark-blue);
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
  box-shadow: 0.10px 0.10px 1px var(--white);
}
.arrowIcon{
  color: var(--white);
}
.detailsName{
  text-align: left;
}
.detailsBox{
  padding: 55px 0;
  display: flex;
  flex-direction: row;
  height: 400px;
}
.forImage{
  width: 35%;
  height: 100%;
  box-shadow: 0.10px 0.10px 1px var(--white);
}
.forImage img{
  height: 100%;
  width: 100%;
}
.details{
  display: flex;
  flex-direction: column;
  margin-left: 100px ;
  padding: 40px 0; 
  width: 100%;
}
.detailsInfo{
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}
.detailsInfo p{
  padding: 3px 0;
}
.detailsLeft{
  text-align: left;
  margin-right: 50px;
}
.detailsRight{
  text-align:left;
}
.border{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.border button{
  margin: 5px;
  padding: 0px 10px;
  background-color: var(--dark-blue);
  outline: none;
  border: none;
  color: var(--white);
}
.loader__container {
  width: 100%;
}
.loader__container .loader {
 margin: 0 auto;
 width: 60px;
 height: 60px;
 border-radius: 50%;
 background-color: rgba(0,0,0,.4);
 animation : grow 1s linear infinite;
}
@media  (max-width: 900px) {
  .countries {
    grid-template-columns: 1fr 1fr;
  }
  .backarrow {
    width: 20%;
  }
  .detailsBox {
    flex-direction: column;
  }
  .details{
    margin-left: 0px;
  }
}
@media  (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .upperline{
    flex-direction: column;
  }
  .countries {
    grid-template-columns: 1fr;
  }
  .detailsBox {
    flex-direction: column;
  }
  .forImage{
    width: 100%;
    margin: 0 auto;
  }
  .backarrow {
    width: 30%;
  }
  .forInput {
    width: 250px;
    margin-bottom: 10px;
  }
  .detailsInfo{
    flex-direction: column;
    padding-left: 0px;
  }
  .details{
    margin-left: 0px;
  }
  
}
@keyframes grow {
  from {transform: scale(0.5); opacity: 0;} 
  to{transform : scale(1); opacity: 1} 
}